#animation__one {
    animation: mymove 5s infinite;

}

@keyframes mymove {
    0%      { transform: translate(0); }
    50%     { transform: translate(150px, 0); }
    100%    { transform: translate(0);     }
}

// ///////////////////////////////////////

// #animation__two




#animation__two {

    animation: spin 5s infinite linear;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform-origin: 80% 80%;
    }


    100% {
        transform: rotate(360deg);
        transform-origin: 80% 80%;
    }
}