// Color scheme
$white      : #FFFFFF;

$black      : #000000;
$sable      : #060606;
$charcoal   : #2E1503;

$tangerine  : #FFAF6D;
$orange     : #FFA500;



$navbar-dark-hover-color: $tangerine;
$navbar-dark-active-color: $tangerine;