.grid-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

// ROW
.grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px 20px;

}


// COL
.grid-col-12 {
    grid-column: span 12
}

.grid-col-11 {
    grid-column: span 11;
}

.grid-col-10 {
    grid-column: span 10
}

.grid-col-9 {
    grid-column: span 9
}

.grid-col-8 {
    grid-column: span 8
}

.grid-col-7 {
    grid-column: span 7
}

.grid-col-6 {
    grid-column: span 6
}

.grid-col-5 {
    grid-column: span 5
}

.grid-col-4 {
    grid-column: span 4
}

.grid-col-3 {
    grid-column: span 3
}

.grid-col-2 {
    grid-column: span 2
}

.grid-col-1 {
    grid-column: span 1
}



@media (min-width: 768px) {
    .grid-col-md-12 {
        grid-column: span 12
    }
    
    .grid-col-md-11 {
        grid-column: span 11;
    }
    
    .grid-col-md-10 {
        grid-column: span 10
    }
    
    .grid-col-md-9 {
        grid-column: span 9
    }
    
    .grid-col-md-8 {
        grid-column: span 8
    }
    
    .grid-col-md-7 {
        grid-column: span 7
    }
    
    .grid-col-md-6 {
        grid-column: span 6
    }
    
    .grid-col-md-5 {
        grid-column: span 5
    }
    
    .grid-col-md-4 {
        grid-column: span 4
    }
    
    .grid-col-md-3 {
        grid-column: span 3
    }
    
    .grid-col-md-2 {
        grid-column: span 2
    }
    
    .grid-col-md-1 {
        grid-column: span 1
    }
}