
// Font
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;


// Font Weight
$font-regular     : 400;
$font-bold        : 700;


// Font Sizes  [font:10px]
$xxxx-large : 3.125rem; //50px
$xxx-large  : 2.813rem; //45px
$xx-large   : 2.5rem;   //40px
$x-large    : 1.875rem; //30px
$large      : 1.3rem;   //20px
$medium     : 1rem;     //16px
$small      : 0.9rem;   //14px
$x-small    : 0.8rem;   //12px